/* Declaring Animations  */

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* Declaring Variables  */

:root{

    /* Colors Varaiables  */

    --main_color:rgba(00,100,255,1);
    --sub_color:rgba(255,00,50);
    --info_color:rgba(00,255,50,1);
    --soft_color:rgba(200,200,200,1);
    --bright_color:rgba(255,255,255,1);

    /* Bg Colors Varaiables  */

    --dark_bg:rgba(00,00,00,1);
    --blue_bg:rgba(00,00,255,1);
    --skin_bg:rgba(250,190,190,1);
    --grey_bg:var(--soft_color);
    --brown_bg:rgba(102, 58, 30);
    

    /* Font size Variables  */

    --main_font:3rem;
    --sub_font:1.5rem;
    --info_font:1.2rem;

    /* Other Variables  */

    --fly_hover:translateY(-15px);
    --more_gap:50px;
    --med_gap:25px;
    --less_gap:15px;

}

/* Global Styles  */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

}

html{
    scroll-behavior: smooth;
}

.flex{
    display: flex !important;
}

.col{
    flex-direction: column;
}

.hidden{
    display: none !important;
}

.wrap{
    flex-wrap: wrap !important;
}

.fly_hover{
    transform: translateX(0);
    transition: all 0.35s ease-in;
}

.fly_hover:hover{
    transform: var(--fly_hover);
}

.main_text{
    color: var(--main_color);
    font-size: var(--main_font);
    font-weight: 900;
    font-family: monospace !important;
}

.sub_text{
    color: var(--sub_color);
    font-size: var(--sub_font);
    font-weight: 700;
}

.info_text{
    color: var(--info_color);
    font-size: var(--info_font);
    font-weight: 900;
}

/* Header Style  */

.main_header{
    height: 70px;
    width: 100%;
    background-color: var(--dark_bg);
    top: 0px;left: 0px;right: 0px;
    position: sticky;
    z-index: 2;
}

.main_header.scrolled{
    background-color: var(--grey_bg);
}

.main_header.scrolled .nav_list{
    background-color: var(--grey_bg);
}

.main_header.scrolled .nav_list .nav_links{
    color: var(--dark_bg);
}

.main_header.scrolled .hamburger_icon{
    color: var(--dark_bg);
}

.nav_bar{
    height: 100%;
    padding: 0 1%;
    justify-content: space-between;
    align-items: center;
    gap:var(--med_gap);
}

.nav_list{

    height: auto;
    width: auto;
    align-items: center;
    padding:0 2% ;
    list-style: none;
    gap:var(--med_gap);
    background-color: var(--dark_bg);

}

.hamburger_icon{
    color: var(--soft_color);
    font-size: 0px;
    
}

.nav_links{
    top:0px;
    position: relative;
    color: var(--soft_color);
    text-decoration: none;
    text-align: center;
}

.nav_links::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0;
    height: 0.5px;
    background-color: var(--sub_color);
    transition: width 0.35s ease-in;
}

.nav_list_item:hover .nav_links::after{
    width: 100%;
}

/* Main Style  */

.main_content{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
}

.main_loader{
    height: 100vh;
    padding: 2%;
    align-items: center;
    justify-content: center;
    background-color: var(--dark_bg);
    position: relative;
}

.Loading_content{
    position: absolute;
    background-image: url(/images/Magazine/SAMP.png);
    background-size: contain;
    height: 450px;
    width: 450px;
}

.Loading_element{
    height: 500px;
    width: 500px;
    border: 10px solid var(--soft_color);
    border-radius: 50%;
    border-top: 10px solid var(--sub_color);
    animation: rotate 2s 0s ease infinite normal ;

}

.Main_Content_div{
    height: 100%;
    width: 100%;
}

.Hero_Magazine{
    height: calc(100vh - 70px);
    width: auto;
    background-image: url(/images/Magazine/Hero_Magazine.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 50% 100%;
    filter: brightness(60%);
    transform: scale(1);
    background-color: var(--dark_bg);
}

.back_to_top{
    position:fixed;
    bottom: 10px;
    right: 20px;
    height: 70px;
    width: 70px;
    background-color: var(--brown_bg);
    border-radius: 50%;
    font-size: var(--main_font);
    color: var(--soft_color);
    font-weight: 900;
}

.back_to_top.scrolled{
    display: inline !important;
}

.back_to_top:hover{
    background-color: var(--dark_bg);
    color: var(--main_color);
}

/* Info Style  */

.Main_Info_Content{
    height: 100%;
    width: 100%;
    background-color: var(--skin_bg);
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.Info_Content_div{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 3%;
    gap:var(--more_gap);
}

.Info_Content{
    height: 500px;
    width: 500px;
    font-size: calc( var(--main_font) - 0.5rem);
    background-color: var(--dark_bg);
    border: 2px solid var(--dark_bg);
    box-shadow: 3px 4px 10px;
    word-spacing: 5px;
    padding: 2%;
    align-items: center;
    border-radius: 25px;

}

.Info_Content h4{
    color: var(--info_color);
}

/* Profile Style  */

.Profile_div{
    height: 100%;
    width: 100%;
    gap:var(--more_gap);
    padding: 10px;
    background-color: var(--grey_bg);
    justify-content: center !important;
    align-items: center !important;
}

.Profile{
    height: 500px;
    width: 600px;
    background-color: var(--bright_color);
    text-align: center;
    justify-content: center;
    gap:var(--less_gap);
    align-items: center;
    overflow: hidden;
    border: 2px solid var(--dark_bg);
    box-shadow: 3px 4px 10px;
    border-radius: 25px;
    padding:2%;
}

.Profile_Photo{
    height: 70%;
    width: auto;
    max-width: 70%;
    box-shadow: 1px 1px 6px var(--dark_bg);
}

.Profile_Photo img{
    height: 100%;
    width: 100%;
    object-position: bottom;
    object-fit: fill;
}

/* Magazine Style  */

.Magazine_div{
    height: 100%;
    width: 100%;
    gap: var(--more_gap) !important;
    background-color: var(--soft_color);
    padding: 10px;
}

.Magazine_selector_div{
    height: auto !important;
    width: 100%;
    align-items: start;
    height: 50px;
    gap:var(--less_gap);
    justify-content: space-evenly;
}

.Magazine_selector{
    padding: 10px;
    width: 100px;
    font-size: calc( var(--sub_font) - 0.25rem);
    font-weight: 900;
    border-radius: 25px;
    box-shadow: 2px 5px 7px ;
    background-color: var(--dark_bg);
    color: var(--soft_color);
}

.Magazine_selector:hover{
    border: 2px solid var(--sub_color);
}

.Magazine_Content_div{
    background-color: transparent !important;
}

.Magazine_Photo{
    height: 65%;
    width: 80%;
}

.Magazine_Photo img{
    object-fit: fill;
}

.Color_Magazine_Photo{
    width: 60%;
}

.Color_Captain_Photo{
    width: 40%;
}

.Magazine_Content.selected{
    height: 150vh;
    width: 100%;
}

.Magazine_Content.selected .Color_Magazine_Photo{
    width: 70%;
}

.Magazine_Content.selected .Color_Captain_Photo{
    width: 30%;
}

.Magazine_Content.selected .Color_Captain_Photo img{
    object-fit: fill;
}

.Magazine_Content.selected .sub_text{
    font-size: calc( var(--main_font) - 0.5rem);
}

/* Team Style  */

.Team_Content p{
    max-width: 100%;
    white-space: wrap;
}

/* Memory Style  */

.Memory{
    width: 800px;
}

.Memory_content{
    max-height: 85%;
    min-height: 60%;
    height: auto;
}

.Memory_content img{
    object-position: center;
    object-fit: fill;
}

.Memory_content video{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

/* About Style  */

.About_Div{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 2%;
    align-items: center;
    justify-content: center;
    gap:var(--less_gap);
}

.about_tittle{
    height: 150px;
}

.about_hero{
    height: calc(100vh - 250px);
    width: 100%;
    background-image: url(/images/Magazine/SAMP.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.about_content{
    height: auto;
    width: 100%;
    background-color: var(--skin_bg);
    padding: 5%;
    align-items: center;
    gap: var(--med_gap);
}

.about_content p{
    font-size: var(--sub_font);
}

.about_content img{
    max-height: 400px;
    height: auto;
    width: auto;
    object-fit: contain;
}

/* Footer Style  */

.main_end{
    min-height: 50px;
    width: 100%;
    background-color: var(--dark_bg);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.scroll{
    white-space: nowrap;
    display: inline-block;
    animation: scroll 5s linear 0s infinite normal;
    padding-left: 100%;
}

.copy_text{
    font-size: var(--info_font);
    color: var(--sub_color);
}

.main_end:hover .scroll{
    animation-play-state: paused;
}

/* Media Query Style  */

@media (max-width:800px) {

    :root{
        --main_font:2.5rem;
        --sub_font:1.5rem;
        --info_font:1rem;
    }

    /* Navbar Style  */

    .nav_list{
        height: 100vh;
        position: absolute;
        left: -100%;
        top: 0;
        width: 100% !important;
        z-index: 5;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
        transition: all 1s ease-in;
    }

    .nav_list_item{
        width: 100%;
        font-size: var(--main_font) !important;
        border: 2px solid var(--grey_bg);
        width: 80%;
        text-align: center;
        padding: 1%;
        border-radius: 25px;
    }

    .nav_links{
        color: var(--main_color) !important;
    }

    .nav_list.shown{
        left: 0;
        top: 0;
    }

    .hamburger_icon{
        font-size: var(--main_font);
        z-index: 10;
    }

    .main_header.scrolled .nav_list_item{
        border-color: var(--dark_bg);
    }

    /* Other Style  */

    .Loading_element{
        height: 300px !important;
        width: 300px !important;
    }

    .Hero_Magazine{
        background-size: 100% 100%;
    }

    .Magazine_Content{
        height: 170vh !important;
    }

    .Magazine_Photo{
        height: 75%;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Magazine_Photo img{
        object-fit: fill;
    }

    .Color_Captain_Photo,.Color_Magazine_Photo{
        height: 50%;
        width: 100%;
    }

    .Magazine_Content.selected .Color_Magazine_Photo{
        height: 60%;
        width: 100%;
    }

    .Magazine_Content.selected .Color_Captain_Photo{
        height: 40%;
        width: 100%;
    }
    
    .Profile_Photo{
        max-width: 90%;
    }

}

@media (min-width:600px) and (max-width:800px){

    .Magazine_Content{
        height: 500px !important;
    }

    .Magazine_Photo{
        height: 65%;
        width: 80%;
        flex-direction: row;
    }

    .Magazine_Content.selected{
        height: 150vh !important;
    }
    
    .Color_Captain_Photo,.Color_Magazine_Photo{
        height: 100%;
        width: 100%;
    }

    .Magazine_Content.selected .Color_Magazine_Photo{
        height: 100%;
        width: 60%;
    }

    .Magazine_Content.selected .Color_Captain_Photo{
        height: 100%;
        width: 40%;
    }
}

@media (min-width: 400px) and (max-width: 600px){
    .Color_Captain_Photo img{
        object-fit: contain !important;
    }
}