<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta Attributes  -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="18th Batch | Sparsha Baral">
    <meta name="description" content="This is a E-Magazine of 18th Batch at Annapurna House in S.A.M.P">

    <!-- Linking StyleSheet to the Document  -->

    <link rel="stylesheet" href="/style/main.css">

    <title>Magazine | Annapurna</title>

</head>

<body>

    <!-- Main Header of the Doucment  -->

    <header class="main_header">

        <nav class="nav_bar flex">

            <span>

                <h1 class="main_text fly_hover">
                    Annapurna
                </h1>

            </span>

            <span class="hamburger_icon">
                ☰
            </span>

            <ul class="nav_list flex">

                <li class="nav_list_item"><a href="./index.html" class="nav_links">Home</a></li>
                <li class="nav_list_item"><a href="./magazine.html" class="nav_links">Magazine</a></li>
                <li class="nav_list_item"><a href="./capture.html"class="nav_links" >Capture</a></li>
                <li class="nav_list_item"><a href="./team.html" class="nav_links">Team</a></li>
                <li class="nav_list_item"><a href="./about.html" class="nav_links">About</a></li>

            </ul>


        </nav>

    </header>

    <!-- Main Content of the Doucment  -->

    <main class="main_content">

        <div class="About_Div flex col">

            <div class="about_tittle">

                <h2 class="main_text">About our E-Magazine 💡</h2>
                <br>
                <h3 class="sub_text">Know About Us and this E-Magazine</h3>

            </div>

            <div class="about_hero"></div>

            <div class="about_content flex col">
                <h4 class="main_text">Welcome All to Our E-Magazine</h4>
                <p>
                    Welcome to the digital edition of the Sainik Awasiya Mahavidyalaya Wall Magazine! Representing the vibrant spirit of Annapurna House, our creativity is woven across four colors: Green, Red, Yellow, and Blue.
                    This E-Magazine was created to archive our history, store our memories forever, and spotlight the hidden skills of our housemates. Within these pages, we introduce you to our leadership team, our proud Badge Holders, and the Color Captains driving each creative section.
                    We invite you to explore, reminisce, and connect with us. Together, this platform beautifully reflects our ultimate strength: <b>Unity in Diversity</b>.
                </p>
                <h3 class="sub_text">Made with the Love of Annapurna House & Skills of Sparsha Baral</h3>
                <img src="/images/Magazine/Developer.jpg" alt="Developer Photo" class="Profile_Photo">
                <p class="sub_text">Sparsha Baral - Developer</p>
            </div>

        </div>

        <button type="button" class="back_to_top fly_hover hidden">⬆</button>
        
    </main>

    <!-- End Content of the Doucment  -->

    <footer class="main_end flex">

        <div class="scroll">

            <h3 class="sub_text">&copy; 18th Batch S.A.M.P</h3>

        </div>

    </footer>

    <script type="module" src="/script/about.js"></script>

</body>

</html>