<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta Attributes  -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="18th Batch | Sparsha Baral">
    <meta name="description" content="This is a E-Magazine of 18th Batch at Annapurna House in S.A.M.P">
    <link rel="icon" type="image/png" href="/images/Captures/House.jpg">

    <!-- Linking StyleSheet to the Document  -->

    <link rel="stylesheet" href="/style/main.css">

    <title>Magazine | Annapurna</title>

</head>

<body>

    <!-- Main Header of the Doucment  -->

    <header class="main_header" id="top">

        <nav class="nav_bar flex">

            <span>

                <h1 class="main_text fly_hover">
                    Annapurna
                </h1>

            </span>

            <span class="hamburger_icon">
                ☰
            </span>

            <ul class="nav_list flex">

                <li class="nav_list_item"><a href="./index.html" class="nav_links">Home</a></li>
                <li class="nav_list_item"><a href="./magazine.html" class="nav_links">Magazine</a></li>
                <li class="nav_list_item"><a href="./capture.html"class="nav_links" >Capture</a></li>
                <li class="nav_list_item"><a href="./team.html" class="nav_links">Team</a></li>
                <li class="nav_list_item"><a href="./about.html" class="nav_links">About</a></li>

            </ul>


        </nav>

    </header>


    <!-- Main Content of the Doucment  -->

    <main class="main_content">

        <div class="main_loader flex">

            <div class="Loading_content">
            </div>

            <a href="https://www.sampokhara.edu.np/" target="_blank">
                <div class="Loading_element">
                </div>
            </a>
            
            
        </div>

        <div class="Main_Content_div flex col wrap">


            <div class="Hero_Magazine">

            </div>

            <div class="Main_Info_Content">

                <p class="main_text">Welcome 👋</p>

                <div class="Info_Content_div flex wrap">

                    <div class="Info_Content flex fly_hover" id="./index.html">
                    <h4>Official Page of 18th Batch Wall Magazine at Annapurna House in S.A.M.P</h4>
                    </div>
                    <div class="Info_Content flex fly_hover" id="./magazine.html"><h4>Watch and Experience our E-Magazine</h4></div>
                    <div class="Info_Content flex fly_hover" id="./team.html"><h4>Learn about and Engage with our House Team and Students</h4></div>
                    <div class="Info_Content flex fly_hover" id="./capture.html"><h4>See it Whenever you want to refresh the old memories.</h4></div>

                </div>
                
            </div>

        </div>

        <button type="button" class="back_to_top fly_hover hidden">⬆</button>
        
    </main>

    <!-- End Content of the Doucment  -->

    <footer class="main_end flex">

        <div class="scroll">

            <h3 class="sub_text">&copy; 18th Batch S.A.M.P</h3>

        </div>

    </footer>

    <!-- Linking JavaScript to the Document  -->

    <script type="module" src="/script/index.js"></script>

</body>

</html>