<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Meta Attributes  -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="18th Batch | Sparsha Baral">
    <meta name="description" content="This is a E-Magazine of 18th Batch at Annapurna House in S.A.M.P">
    <link rel="icon" type="image/png" href="/images/Captures/House.jpg">

    <!-- Linking StyleSheet to the Document  -->

    <link rel="stylesheet" href="/style/main.css">

    <title>Magazine | Annapurna</title>

</head>

<body>

    <!-- Main Header of the Doucment  -->

    <header class="main_header">

        <nav class="nav_bar flex">

            <span>

                <h1 class="main_text fly_hover">
                    Annapurna
                </h1>

            </span>

            <span class="hamburger_icon">
                ☰
            </span>

            <ul class="nav_list flex">

                <li class="nav_list_item"><a href="./index.html" class="nav_links">Home</a></li>
                <li class="nav_list_item"><a href="./magazine.html" class="nav_links">Magazine</a></li>
                <li class="nav_list_item"><a href="./capture.html"class="nav_links" >Capture</a></li>
                <li class="nav_list_item"><a href="./team.html" class="nav_links">Team</a></li>
                <li class="nav_list_item"><a href="./about.html" class="nav_links">About</a></li>

            </ul>


        </nav>

    </header>

    <!-- Main Content of the Doucment  -->

    <main class="main_content">

        <div class="Magazine_div flex col">

            <div class="Magazine_selector_div flex wrap">

                <button class="Magazine_selector" id="All">All</button>
                <button class="Magazine_selector" id="Green">Green</button>
                <button class="Magazine_selector" id="Blue">Blue</button>
                <button class="Magazine_selector" id="Red">Red</button>
                <button class="Magazine_selector" id="Yellow">Yellow</button>

            </div>

            <div class="Magazine_Content_div Profile_div flex wrap">

            </div>

        </div>

        <button type="button" class="back_to_top fly_hover hidden">⬆</button>

    </main>

    <!-- End Content of the Doucment  -->

    <footer class="main_end flex col">

        <div class="line" style="background-color: blue;"></div>

        <div class="copy">
            <h4 class="copy_text">© 2026 18th Batch S.A.M.P. All Rights Reserved.</h4>
            <h4 class="copy_text">Developed by:</h4>
            <a href="https://www.facebook.com/sparsha.baral.7">Sparsha Baral.</a>
        </div>

    </footer>

    <script type="module" src="/script/magazine.js"></script>

</body>

</html>